
@using Abp.Timing
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<!-- BEGIN HEAD -->

<head>

    <meta charset="utf-8" />

    <title>Metronic | Login Page</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <meta content="" name="description" />

    <meta content="" name="author" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    @Styles.Render("~/Bundles/media/css");
    @Styles.Render("~/Bundles/abp/css");

    @RenderSection("styles", required: false);

    <link rel="shortcut icon" href="../lib/media/image/favicon.ico" />
</head>

<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="login">

    <!-- BEGIN LOGO -->

    <div class="logo">

        <img src="../lib/media/image/logo-big.png" alt="" />

    </div>

    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->

    @RenderBody();

    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->

    <div class="copyright">

        2017 &copy; Hunter. 信息管理系统.

    </div>

    @Scripts.Render("~/Bundles/media/js");
    @Scripts.Render("~/Bundles/abp/js");
    

    <!-- END PAGE LEVEL SCRIPTS -->

    <script>

        jQuery(document).ready(function () {

            App.init();

            //Login.init();

        });

    </script>

    <!-- END JAVASCRIPTS -->

    <script type="text/javascript">  var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-37564768-1']); _gaq.push(['_setDomainName', 'keenthemes.com']); _gaq.push(['_setAllowLinker', true]); _gaq.push(['_trackPageview']); (function () { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>

    <!-- ABP系统的动态脚本（它们是在运行时创建的，不能捆绑在一起） -->
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

    @RenderSection("scripts", required: false);
</body>

<!-- END BODY -->

</html>