@using Abp.Collections.Extensions
@using ZD.InfoManager.Views
@using Abp.Web.Mvc.Views
@using Abp.Application.Navigation
@model ZD.InfoManager.Models.Layout.SideBarNavViewModel
@{ 
    var calculateMenuUrl = new Func<string, string>(url =>
    {
        if (string.IsNullOrEmpty(url))
        {
            return ApplicationPath;
        }
        if (UrlChecker.IsRooted(url))
        {
            return url;
        }
        return ApplicationPath + url;
    });

    var selectMenu = new Func<UserMenuItem,string, bool>((menu,current)=>
    {
        if (menu.Name == current)
        {
            return true;
        }
        if (!menu.Items.IsNullOrEmpty())
        {
            foreach (var subItem in menu.Items)
            {
                if(subItem.Name== current) return true;
            }
        }
        return false;
    });

}

<!-- BEGIN SIDEBAR -->

<div class="page-sidebar nav-collapse collapse">

    <!-- BEGIN SIDEBAR MENU -->

    <ul class="page-sidebar-menu">

        <li>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

            <div class="sidebar-toggler hidden-phone"></div>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        </li>

        <li>

            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

            <form class="sidebar-search">

                <div class="input-box">

                    <a href="javascript:;" class="remove"></a>

                    <input type="text" placeholder="Search..." />

                    <input type="button" class="submit" value=" " />

                </div>

            </form>

            <!-- END RESPONSIVE QUICK SEARCH FORM -->

        </li>

       @foreach (var menuItem in Model.MainMenu.Items)
        {
            <li class="@(selectMenu(menuItem,Model.ActiveMenuItemName)?"start active":"") ">

                <a href="@calculateMenuUrl(menuItem.Url)">

                    <i class="@menuItem.Icon"></i>

                    <span class="title">@menuItem.DisplayName</span>

                    @if (selectMenu(menuItem, Model.ActiveMenuItemName))
                    {
                        <span class="selected"></span>
                    }
                    else
                    {
                        <span class="arrow "></span>
                    }
                </a>

                @if (!menuItem.Items.IsNullOrEmpty())
                {
                   <ul class="sub-menu">
                    @foreach (var subItem in menuItem.Items)
                    {
                        <li class="@(Model.ActiveMenuItemName==subItem.Name? "active":"")">

                            <a href="@calculateMenuUrl(subItem.Url)">
                                <i class="@subItem.Icon"></i>
                                @subItem.DisplayName
                            </a>

                        </li>
                    }
                   </ul>

                }


            </li>

        }


     @*<li class=" ">

            <a href="index.html">

                <i class="icon-home"></i>

                <span class="title">Dashboard</span>

                <span class="selected"></span>

            </a>

        </li>

        <li class="start active">

            <a href="javascript:;">

                <i class="icon-cogs"></i>

                <span class="title">Layouts</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li class="active">

                    <a href="#">

                       点击我
                    </a>
                    <span class="selected"></span>
                </li>

                <li>

                    <a href="layout_horizontal_menu1.html">

                        Horzontal Menu 1
                    </a>

                </li>

                <li>

                    <a href="layout_horizontal_menu2.html">

                        Horzontal Menu 2
                    </a>

                </li>

                <li>

                    <a href="layout_promo.html">

                        Promo Page
                    </a>

                </li>

                <li>

                    <a href="layout_email.html">

                        Email Templates
                    </a>

                </li>

                <li>

                    <a href="layout_ajax.html">

                        Content Loading via Ajax
                    </a>

                </li>

                <li>

                    <a href="layout_sidebar_closed.html">

                        Sidebar Closed Page
                    </a>

                </li>

                <li>

                    <a href="layout_blank_page.html">

                        Blank Page
                    </a>

                </li>

                <li>

                    <a href="layout_boxed_page.html">

                        Boxed Page
                    </a>

                </li>

                <li>

                    <a href="layout_boxed_not_responsive.html">

                        Non-Responsive Boxed Layout
                    </a>

                </li>

            </ul>

        </li>*@

        

    </ul>

    <!-- END SIDEBAR MENU -->

</div>

<!-- END SIDEBAR -->