@using ZD.InfoManager.Models.User
@using Abp.Authorization.Users
@model UpdateCurrentUserViewModel


<div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

    <h3 id="myModalLabel2">修改基本信息</h3>

</div>

<div class="modal-body">

    <form action="#" id="UpdateCurrentUserForm" class="form-horizontal">


        <div class="control-group">

            <label class="control-label">姓氏</label>

            <div class="controls">

                <input type="text" placeholder="姓氏" class="m-wrap large" value="@Model.Surname" required maxlength="@AbpUserBase.MaxSurnameLength" name="Surname" />


            </div>

        </div>


        <div class="control-group">

            <label class="control-label">名称</label>

            <div class="controls">

                <input type="text" placeholder="名称" class="m-wrap large" value="@Model.Name" required maxlength="@AbpUserBase.MaxNameLength" name="Name" />


            </div>

        </div>


        <div class="control-group">

            <label class="control-label">邮箱</label>

            <div class="controls">

                <input type="email" required maxlength="@AbpUserBase.MaxEmailAddressLength" placeholder="邮箱" class="m-wrap large" value="@Model.EmailAddress" name="EmailAddress" />


            </div>

        </div>




    </form>





    </div>

<div class="modal-footer">

    <button class="btn green" id="ComfirmUpdateCurrentUser">确认修改</button>

</div>

